@model List<Doctor>

@{
    //AQUI SIEMPRE DEBEMOS CONVERTIR VIEWDATA A SUS TIPOS
    List<string> especialidades = ViewData["ESPECIALIDADES"] as List<string>;
}

@section scripts{
    <script>
         $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
}



<h1>Doctores especialidad</h1>

<form method="post">
    <label>Seleccione una especilidad: </label>
    <select name="especialidad">
        @foreach (string espe in especialidades)
        {
            <option value="@espe">@espe</option>
        }
    </select>
    <button class="btn-large waves-effect waves-light orange">
        Buscar
    </button>
</form>
<hr/>
<table>
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doc in Model)
        {
            <tr>
                <td>@doc.Apellido</td>
                <td>@doc.Especialidad</td>
                <td>@doc.Salario</td>
                <td>@doc.IdHospital</td>
            </tr>
        }
    </tbody>
</table>
